/*
html {
    font-size: 90%
}
@media only screen and (min-width: 376px) {
    body {
        font-size: 100%;
    }
}
*/
h1 {
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: 65px;
    line-height: 100px;
}


img {
    height: 80vh;
    width: 100vw;
}

.container{
    margin-right: 0;
    margin-left: 0;
    padding: 0;
}
