html {
    font-size: 90%
}
@media only screen and (min-width: 376px) {
    body {
        font-size: 100%;
    }
}



body {
    font-size: 16px;
    max-width: 100%;
    margin: auto;


}

header {
    border: solid 1px black;
    background-color: dodgerblue;
    height: 20vh;
    text-align: center;

}

span {
    font: normal 10vh/1 "VT323", Helvetica, sans-serif;
    color: rgba(255, 255, 0, 1);
    text-shadow: .06em .06em 0 rgba(255, 0, 0, 1);

}

#left_nav {
    width: 25%;
    display: inline-block;
    float: left;
    font-family: fantasy;
    text-align: center;
    font-size: 2.5vh;
    padding-top: 10%;
    line-height: 400%;


}

div:nth-child(1) {
    background-color: lightcyan;
    display: inline-block;

}

#main_content {
    display: inline-block;
    width: 75%;
    float: left;
    background-color: ghostwhite;

}

.xp {
    list-style-type: none;
}

